.vision {
  background-color: black;
  color: white;
}

.vision-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.vision-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.vision-info button {
  padding: 5px 10px;
  background-color: #0071e3;
  color: white;
  border: none;
  border-radius: 15px;
}

.p-4 {
  border-radius: 15px;
  border: 1px solid white;
  padding: 2px 4px;
}

.vision-banner {
  background-image: url(../../assets/images/vision.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.vision-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 700px;
}

.vision-1 img {
  width: 340px;
  margin-bottom: 10px;
}

.vision-1 p {
  font-size: 35px;
  color: black;
  padding-bottom: 10px;
}
