.nav {
  background-color: black;
  color: white;
  padding: 15px;
}

.nav-all {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  gap: 40px;
}

.apple-icon,
.search-icon,
.cart-icon {
  font-size: 20px;
}

.nav-item a svg {
  font-size: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}
